.color-primary {
  color #0d6efd !important
}

.color-danger {
  color #dc3545
}

.color-success {
  color #20c997
}

.color-warning {
  color #ffc107
}

.color-purple {
  color #6f42c1
}

.color-gray {
  color #9b9b9b !important
}