{% extends 'app_layout.html.twig' %}

{% block title %}Uni Chat | Home{% endblock %}

{% block body %}

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Uni Chat</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('homepage_index') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_login') }}">Chat</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row mt-5">
                <div class="col-lg text-center">
                    <img src="{{ asset('img/homepage/logoPef.jpg') }}" class="rounded-3 w-50 mb-3 mt-5" alt="PEF Mendelu">
                    <h2 class="mt-4">Semestrálny projekt z predmetu WA</h2>
                    <p>&copy;Kharytonov Danylo</p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->

        </div><!-- /.container -->
    </main>
{% endblock %}